In [18]:
import matplotlib.pyplot as plt
import pandas
import MySQLdb
%matplotlib inline

conn = MySQLdb.connect(host="localhost", user="root", passwd="root", db="minion")

query = """ 
SELECT ts, tFROM report
"""

df = pandas.read_sql(query, conn, index_col=['ts'])
fig, ax = plt.subplots()
df.plot(ax=ax)
fig.show()
conn.close()

DatabaseError: Execution failed on sql '
SELECT ts, tFROM report
': (1054, "Unknown column 'ts' in 'field list'")